.home-container{
  border: 0.5px solid #ffffff;
  background-color: #ffffff;
  margin-left: 430px;
  margin-top: 0px;
  width: 1250px;
  height: 843px;
}
.btnplus{
  background-color: #5CAD44;
  color: white;
  border-radius: 5px;
  border-color: #5CAD44;
  padding: 4px;
}
.button-home-primary{
  background-color: #DD4512;
  border: none;
  display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
padding: 8px 8px 8px 16px;
}
.button-home-secondary{
  background-color: #DD4512;
  border: none;
  color: white;
}
.table-home{
  --bs-table-bg: #FF7243;
  --bs-table-color: white;
}
.table-home-striped{
  --bs-table-striped-bg: #FFE2D9 !important;
}
.home-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  text-align: center;
  margin-bottom: 7px;
}
.home-input {
  background-color: #FFE2D9;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 164px;
  height: 42px;
  margin-top: 7px;
}

.home-input-option {
  appearance: none;
  background-image: url('/dropdownicon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right  center;
  background-color: #FFE2D9;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 164px;
  height: 42px;
  margin-top: 7px;
}
.big-home-input{
  width: 847px;
  height: 70px;
  background-color: #EFEFEF;
  border: none;
  border-radius: 5px;
  margin: 7px;
}
.home-space{
  margin: 5px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  display: flex;
}
.home-search-button{
  background-color: #FF7243;
  width: 141px;
  height: 42px;
  justify-content: flex-end;
  border-radius: 10px;
  color: white;
}
.home-search-button-container{
  display: flex;
justify-content: flex-end;
margin-top: 10px;
padding-right: 350px;
}
.home-search-button:hover{
  background-color: #DD4512;

}

.document-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}