.sidebar-content1{
    border: 0.5px solid rgb(240, 115, 13);
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 210px;
    height: 883px;
    background-color: rgb(255, 114, 67);
    gap: 2rem;
    position: absolute;
    background-image: url('./Remove-logo.png');
    background-size: cover ;
    background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-position: 40px 720px;
    font-size: 17px;
    margin-left: 230px;
    
  
}
.sidebar-content2{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start left;
    align-items: left;
    
}
.button-nav-primary{
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 209px;
    height: 50px;
    background-color: #DD4512;
    gap: 2rem;
    position: absolute;
    font-size: 17px;
    color: white;
}
.button-nav-secondary{
    border: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 209px;
    height: 50px;
    background-color: rgb(255, 114, 67);
    gap: 2rem;
    position: absolute;
    font-size: 17px;
    color: white;
}