.header-container{
    border: 1px solid #FFDACC;
    background-color: #FFDACC;
    margin-left: 230px;
    width: 1450px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/LOGO_DMF_ENG.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
}